<section>
  <article>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'flex flex-col gap-y-2' }) do |f| %>
      <div class="flex justify-between items-center h-16 bg-blue-500 px-4 lg:px-14">
        <%= link_to "<", root_path, class: 'text-lg text-white' %>
        <h2 class="text-xl text-white font-semibold">Log in</h2>    
        <div class="actions">
          <%= f.submit "Log in", class: 'text-white' %>
        </div>
      </div>

      <div class="max-w-md md:max-w-lg lg:max-w-4xl mx-auto">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>
  
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div>
  
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </article>
</section>